*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}


.header{
    background-color:rgb(27, 128, 230);
    width: 100%;
    
}


.menu{
    display: flex;
    list-style: none;
    font-size: 1.2em;
    margin-top: 16px;
}

.nav-menu-item > a{
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    width: max-content;
}


.menu > .nav-menu-item > a:hover{
    color: white;
    background-color: rgb(69, 99, 129);
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
}
.logo:hover{
    background-color: white;
    color:  rgb(69, 99, 129);
}
.main >.busqueda-inicio > img{
width: 100%;

}


.main > div.img-fondo> img{
    width: 100%;
    height: 500px;
    filter: brightness(75%); 
}

.footer{
    background-color:rgb(80, 93, 105);
    color: white;
    width:100%;
}
footer > div.columnas-footer{
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
}

footer > div.columnas-footer > div.col-logo{
margin: auto;
width: 30%;
}

footer > div.columnas-footer > div.col-menu{
    padding-top: 20px;
    width: 40%;
}

.columnas-footer > div.col-menu > ul > li> a:hover{
  text-decoration: underline;
  color:white;
}

footer > div.columnas-footer > div.col-menu >a{
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    list-style: none;
}
footer > div.columnas-footer > div.col-redes{
    width: 40%;
}

.copyrigth{
padding: 0px 15px;
font-size: 12px;
}

.main{
    position: relative;
    text-align: center;
    width:100%;
    
}
.busqueda-inicio > div.texto-portada{
    position: absolute;
    top: 5%;
    left: 5%;
    color:white;
}

.busqueda-inicio > .botones-busqueda{
    position: absolute;
    top: 20%;
    left: 5%;
}
.busqueda-inicio > .botones-busqueda > button{
    font-size: 25px;
    width: 200px;
}

.prop-destacadas{
    text-align: center;
    margin: auto;
    padding: 15px 10px;
    animation-name: opacidad;
    animation-duration: 3s;
    width: 80%;
}

.propiedades{
    display: grid;
    grid-template-areas: "prop1 prop2 prop3"
                         "prop4 prop5 prop6"
                         "prop7 prop8 prop9";
    margin:10px;
    grid-gap: 20px;
    width:auto;
    }


.prop-general{
    text-align: center;
    margin: auto;
    padding: 15px 10%;
    animation-name: opacidad;
    animation-duration: 1s;

}
.propiedades > div > img
{
    height: 200px;
    width: 300px;

}
.propiedades > div 
{
    border: solid black 1px;
}

.propiedades >div:hover{
opacity: 80%;
}


.main-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.form-contacto{
    width: 40%;
    margin: 25px;
}

.sucursales{
    width: 40%;
    margin: 25px;

}
.sucursales > iframe{
    width: 480px;
    height: 300px;
}
.form-contacto > h3{
font-weight: bold;
}
.sucursales > h3{
    font-weight: bold;
}

.login{
    box-sizing: content-box;
    width: 100%;
    padding: 5% 0 10%;
    text-align: center;
}
.form-login{
    width: 30%;
    margin: auto;
}

.main-sn{
    padding: 5% 10%;
    width: 100%;
}


@keyframes opacidad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


  @media only screen and (max-width: 800px) {
    .main{
        width: 100%;

    }
    
        
    .propiedades{
        display: grid;
        grid-template-areas: "prop1 prop2"
                             "prop3 prop4"
                             "prop5 prop6"
                             "prop7 prop8";
        margin: 10px;
        grid-gap: 10px;

    }
    .logo
    {
    width: 100%;
    text-align: center;
}
    .menu{
        font-size: 1em;
    }
    .texto-portada{

        text-align: center;
    }


    footer > div.columnas-footer{
        padding: 10px 0;
        width: 100%;
        display: block;
    }
    footer > div.columnas-footer > div.col-logo{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    }
    
    footer > div.columnas-footer > div.col-menu{
        padding: 5px 25px;
        width: 50%;
        display:inline-block;
    }
    footer > div.columnas-footer > div.col-redes{
        width: 40%;
        display: inline-block;
    }    

    .main-contacto{
        flex-direction: column;
        margin-left: 20%;
    }
    .form-contacto{
        width: 80%;
    }
    .sucursales{
        width: 80%;
    }
    .sucursales > iframe{
        width: 350px;
        height: 300px;
    }
}
  
  @media only screen and (max-width: 480px) {
 
.menu{
    font-size: 0.9em;
    margin-top: 4px;
    padding: 0;
}

.menu > li:nth-child(3) > a{
    padding: 0px 5px;
}

.nav-menu-item > a{
    padding: 5px 10px;

}   
    .busqueda-inicio > .botones-busqueda{
        top: 15%;
        left: 10%;    
        
    }
    .busqueda-inicio > .botones-busqueda > button{
        font-size: 18px;
        width: 150px;
    }
    .propiedades{
        display: grid;
        grid-template-areas: "prop1"
                             "prop2"
                             "prop3"
                             "prop4"
                             "prop5"
                             "prop6"
                             "prop7"
                             "prop8";
        margin: 10px;
        grid-gap: 10px;
    }
    .sucursales > iframe{
        width: 300px;
        height: 250px;
    }

  }